<nav class="navbar navbar-expand-md navbar-light  fixed-top">
    <a routerLink="" class="navbar-brand">
        <img src="https://i.postimg.cc/nLT4rNwT/logo.png" height="50px" width="80px" alt="" srcset=""></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="IT">Interiors </h4>

    <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
    <div class="navbar-nav ml-auto">
        <a routerLink="/userprofile">
            <span class="material-icons" aria-hidden="true">
            account_circle
        </span></a>
        <!-- <button class="btn btn-success">Offers</button> -->
        <ul class="menu">
            <li>
                <a href="#">Offers</a>
                <ul>
                    <li><a href="#">20 % offer on Kitchen Interiors</a></li>
                    <li><a href="#">45 % discount on Home Interiors</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- Nav Bar Ends  -->