<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-4 col-sm-3 col-md-3">
                <h5 class="fname">SERVICES</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://propeden.com/property_services"><i
								class="fa fa-angle-double-right"></i>Property services</a></li>
                    <li><a href="https://propeden.com/rera_information "><i class="fa fa-angle-double-right"></i>Rera
							Information</a></li>
                    <li><a href="https://propeden.com/best_to_invest "><i class="fa fa-angle-double-right"></i>Best to
							invest</a></li>
                    <li><a href="https://propeden.com//blog/?cat=4 "><i class="fa fa-angle-double-right"></i>Real estate
							updates</a></li>
                    <li><a href="https://propeden.com/buyers_guide "><i class="fa fa-angle-double-right"></i>Buyers
							Guide</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h5 class="fname">QUICK LINKS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://propeden.com/privacy_policy "><i class="fa fa-angle-double-right"></i>Privacy
							Policy</a></li>
                    <li><a href="https://propeden.com/terms_condition "><i class="fa fa-angle-double-right"></i>Terms &
							Conditions</a></li>
                    <li><a href="https://propeden.com/contact "><i class="fa fa-angle-double-right"></i>Contact Us</a>
                    </li>
                    <li><a href="https://propeden.com/careers "><i class="fa fa-angle-double-right"></i>Careers</a></li>
                    <li><a href="https://propeden.com/blog/ "><i class="fa fa-angle-double-right"></i>Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3">
                <h5 class="fname">BEST COLLECTIONS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://propeden.com/project/?echo_friendly=1"><i
								class="fa fa-angle-double-right"></i>Eco Friendly Projects</a></li>
                    <li><a href="https://propeden.com/project/?most_viewed=1 "><i
								class="fa fa-angle-double-right"></i>Most Viewed Projects</a></li>
                    <li><a href="https://propeden.com/project/?trending_projects=1 "><i
								class="fa fa-angle-double-right"></i>Trending Projects</a></li>

                </ul>
            </div>
            <div class="col-xs-4 col-sm-2 col-md-2">
                <h5 class="fname">CONTACT US</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href=" "><img class="logoofprop" src="https://i.postimg.cc/nLT4rNwT/logo.png" alt="" style="width: 115px;"></a>
                    </li>
                    <li><a href=" "><i class="fa fa-angle-double-right"></i>Email Us : Reach@propeden.com</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/PropEden/ "><i
								class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/PropEden "><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/PropEden1/ "><i
								class="fa fa-instagram"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="https://wa.me/918042292211/?text= "><i class="fa fa-whatsapp-plus"></i></a></li> -->
                    <li class="list-inline-item"><a href=" " target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
                <p class="h6"><a class="text-green ml-2" href="https://www.Propeden.com" target="_blank"> &copy; Propeden - All rights reserved 2019</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->