<div fxLayout="row" class="parent">
    <div fxFlex="20%" class="left"> </div>
    <div fxFlex="80%" class="right">
        <p>projects works!</p>
        <mat-card class="project-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project 1</mat-card-title>
                <mat-card-subtitle>4 BHK</mat-card-subtitle>
                <mat-card-subtitle>300 Sqft</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Buy</button>
                <button mat-button>SELL</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="project-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project 2</mat-card-title>
                <mat-card-subtitle>2 BHK</mat-card-subtitle>
                <mat-card-subtitle>100 Sqft</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Buy</button>
                <button mat-button>SELL</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>