
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
*{box-sizing: border-box;}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  
}
.form-control
{
    height: 45px;
    width:500px;
    background-color:transparent !important;
    border-style:solid;
    border-color:grey;
    color:goldenrod;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(255, 100, 255, 0.5);

}
button
{
    height:30px;
    width:80px;
    margin-left: 250px;
    color:whitesmoke;
    background-color:rgb(255, 64, 64);
}
button:hover{color: yellow;
background-color: rgb(19, 211, 131) ;}

.container-fluid
{
  padding-top: 160px;
  padding-left: 230px;
  background-image: url('../../assets/images/1.png') ;
  height: 550px;
  background-repeat: no-repeat;

  
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.form-control:active
{
  border-color:grey;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(70, 255, 101, 0.863);

}


