<app-header></app-header>


<div class="body">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Page not found</h2>
            <div class="col-md-12">
                <div class="row">
                    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                    </p>
                </div>
                

            </div>
            
            <a href="#">Go To Homepage</a>
        </div>
    </div>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="cafe5fc01a0c0b3a8db8062a-|49" defer=""></script>

</div>