<div class="container">
    <div class="row">
      <div class="col-md-12 custom-card">
          <div class="card text-center">
            <div class="card-body" *ngIf="!toggle">
              <h5 class="card-title">Logout from Facebook</h5>
         <!-- <p>name:{{user.name}}</p>
         <p>Email:{{user.email}}</p>
         <p>FirstName:{{user.firstName}}</p>
         <p>LastName:{{user.lastName}}</p> -->

              <button class="btn btn-primary fb-btn" (click)="fbLogout()"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Logout</button>
            </div>
              <div class="card-body" *ngIf="toggle">
                <h5 class="card-title">Log In With Facebook</h5>
                <p class="card-text">Log in with your existing facebook account</p>
                <button class="btn btn-primary fb-btn" (click)="fbLogin()"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Login With Facebook</button>
              </div>
            </div>
      </div>

    </div>
  </div>
