<div fxLayout="row" class="parent">
    <div fxFlex="20%" class="left"> </div>
    <div fxFlex="80%" class="right">
        <div class="col-md-12">
            <div class="row map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6725902332337!2d77.71341821479305!3d12.99278079084202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1131cc5648c9%3A0xd62826f9197ebaa7!2sPropEden!5e0!3m2!1sen!2sin!4v1599561640658!5m2!1sen!2sin"
                    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="contact pull-left">
                <h2>Keep In Touch</h2>
                <ul>
                    <li><b>Support number</b> : 080-41611507</li>
                    <li><b>PropedenCustomer care number</b> : 9108883345</li>
                    <li><b>Propeden care email </b>: interiors.care@propeden.com</li>
                    <li> <b>Email Us </b>: Reach@propeden.com</li>
                </ul>
            </div>
            <!-- <div class="contact address">
                <p>Ardent office one, # S 1206, Hoodi Circle, ITPL Main Rd, beside SMR Vinay Galaxy, Hoodi, Bengaluru, Karnataka 560048</p>
            </div> -->
        </div>
    </div>
</div>